# Системные файлы macOS
.DS_Store
.AppleDouble
.LSOverride
Spotlight-V100/
.Trashes/
./__pycache__
./generator
./generator.class

# Редактор VSCode
.vscode/

# Файлы с настройками окружения
.env
.venv
env/
venv/
ENV/
